# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode
*.code-workspace

# bundle
dist
packages/**/lib
sample/**/lib

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log

# tests
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
/packages/**/coverage/
build/config\.gypi
